[Unit]
Description=PavoSQL daemon
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
Environment=PAVO_PORT=1758
Environment=PAVO_DIR=
ExecStart=pavosql server run

[Install]
WantedBy=multi-user.target
